@import "../Consts.css";

.Header
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 115px;
}

.CompanyName
{
    font-size: var(--font-size-title);
    margin-left: 7%;
    color: aqua;
    cursor: pointer;
    font-family: Alef;
}

.Dropdowns
{
    margin-left: 17%;
    display: flex;
}
